@font-face {
  font-family : 'ChakraPetch';
  src: url('./Chakra_Petch/ChakraPetch-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'ChakraPetch';
  background: url('./icon.jpg');
}